<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Budgtr App</title>
</head>
<header>
    <a href="/budget/">Back to Budget Index</a>
</header>
<style type="text/css">
    body {
        text-align: center;
        align-content: center;
    }
    table{
        text-align: center;
        align-content: center;
        align-items: center;
    }
</style>

<body>
    <div class="container">
        <h1><%= budgetItem.name %></h1>
        <h5><strong>Date</strong></h5>
        <h5><%= budgetItem.date %></h5>
        <h5><strong>Name</strong></h5>
        <h5><%= budgetItem.name %></h5>
        <h5><strong>From</strong></h5>
        <h5><%= budgetItem.from %></h5>
        <h5><strong>Amount</strong></h5>
        <h5><%= budgetItem.amount %></h5>
        <h5><strong>Tags</strong></h5>
        <h5><%= budgetItem.strong %></h5>
    </div>
</body>

</html>